<%= simple_form_for @shop do |form| %>
  <% if shop.errors.any? %>
    <div id="error_explanation">
      <h2> <%= t('.correct') %></h2>

      <ul>
        <% shop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.input :name %>
  </div>

  <%= link_to_add_association t('.add_open_hours'), form, :open_hours, data: {association_insertion_node: '.open_hours'} %>

  <div class="open_hours">
    <%= form.simple_fields_for :open_hours do |builder| %>
      <%= render 'open_hour_fields', f: builder %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
